@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
.container {
  max-width: 98%;
  height: 98%;
  margin-left: 26px;
  background-color: white;
  position: relative;
  overflow-x: hidden;

}
/* NAVBAR STYLES START */
.nav-bar {
  width: 40%;
  height: 150px;
  margin-left: 70px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #fff;
}
.nav-logo {
  margin-left: 9px;
  background-color: #fff;
}
.ma-3connect-logo {
  height: 85px;
  width: 95px;
  padding: 5px;
  margin: 5px;
  margin-left: 15px;
  margin-top: 15px;
}
.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.nav-ul {
  margin-left: 400px;
  width: 400px;
  font-family: "Titillium Web";
}
.nav-links{
  margin-left: 300px;
}
.nav-links ul li {
  width: 10px;
  height: 40px;
  display: inline;
}
.nav-ul a {
  padding: 20px 25px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.nav-ul a::before,
.nav-ul a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav-ul a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #e89005;
  border-right: 3px solid #ffba08;
  transform: translate(-100%, 50%);
}

.nav-ul a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #ffba08;
  border-left: 3px solid #e89005;
  transform: translate(100%, -50%);
}

.nav-ul a:hover:before,
.nav-ul a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav-ul a:hover {
  color: #ffb703;
}
/* NAVBAR STYLES END */

/* MAIN TEXT STYLES */
h1 {
  width: 70%;
  height: 100px;
  font-size: 100px;
  font-family: "Titillium Web";
  justify-content: center;
  /* margin-left: 630px; */
}
.main-text {
  height: 170px;
  justify-content: center;
}
.main-text h1 {
  width: 50%;
  margin-left: 30%;
  float: none;
  justify-content: center;
}
hr {
  width: 82%;
  height: 2px;
  background-color: black;
  margin-left: 120px;
}

/* MAIN TEXT STYLES END */

/* HOMEPAGE IMAGE START */
.homepageimage-container {
  height: 820px;
  width: 130%;
  justify-content: space-between;
  margin-left: 74px;
  margin-top: 30px;
}
.homepageimage-holder {
  height: 850px;
  width: 86%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);

}
.homepageimage-holder:hover {
  transform: scale(1.00); /* Slightly enlarge the card on hover */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.The-mask {
  border-radius: 5px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin-left: 10px;
}
.The-mask:hover {
  transform: scale(1.00); /* Slightly enlarge the card on hover */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
/* HOMEPAGE IMAGE END */

/* FORM STYLES START */
.form {
  height: 750px;
  width: 35%;
  margin-left: 50px;

}

label {
  display: block;
  margin-top: 0px;
  font-family: "Titillium Web";
  font-weight: bold;
}
input[type="text"] {
  width: 70%;
  font-size: 16px;
  padding: 4px 10px;
  margin: 1px 0px;
  font-family: "Titillium Web";
  transition: width 0.4s ease-in-out;
  color: rgb(38, 50, 56);
  font-weight: 700;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}
input[type="text"]:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}
h2 {
  padding-top: 40px;
  color: #ffc300;
  font-family: "Titillium Web";
  font-weight: bold;
  font-size: 23px;
  margin-left: 50px;
}
.reserve-button {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #ffd60a, #ffc300);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Titillium Web";
  margin-left: 130px;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.form-text {
  font-family: "Titillium Web";
  margin-left: 140px;
}
/* FORM STYLES END */

/* SERVICES SECTION STYLES START */
.services-header{
  display: flex;
  width: 280%;
  height: 200px;
}
.services-header1{
  width: 500px;
  margin-left: 340px;
  font-size: 96px;
}
.services-mini-header{ 
  margin-top: 120px;
  width: 500px;
  font-family: 'Titillium Web';
  font-weight: 600;
  color: #6c757d;
}
.services-container{
  width: 98%;
  height: 130%;
  overflow: hidden;

}
.services-cards-container{
  width: 99%;
  margin-left: 1px;
  display: flex;
}
.service-card1{
  width: 55%;
  height: 380px;
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
  /* background: #6c757d; */
}
.servicecard1-container{
  width: 100%;
  background:#edede9;
  display: flex;
  border: 5%;
  border-radius: 4%;
  margin-left: 0px;
}
.airport-transfer-image{
  width: 300px;
  height: 280px;
  margin-top: 53px;
  margin-left: 50px;
  border: 5%;
  border-radius: 4%;
}
.airport-transfer-texts{
  width: 300px;
  height: 250px;
  display: block;
  margin-left: 30px;
  font-size: 18px;
  font-family: 'Titillium Web';
  margin-top: 50px;
}
.airport-transfer-texts button{
  display: block;
  margin-top: 20px;
}
.service-card2{
  width: 55%;
  height: 380px;
  display: flex;
  /* background: #6c757d; */
  margin-left: 40px;
  margin-top: 40px;
}
.service-card2-container{
  width: 100%;
  background:#edede9;
  display: flex;
  border: 5%;
  border-radius: 4%;
  margin-left: 0px;
}
.intercity-trips-image{
  width: 300px;
  height: 280px;
  margin-top: 53px;
  margin-left: 50px;
  border: 5%;
  border-radius: 4%;
}
.intercity-trips-texts{
  width: 300px;
  height: 250px;
  display: block;
  margin-left: 30px;
  font-size: 18px;
  font-family: 'Titillium Web';
  margin-top: 50px;
}
.intercity-trips-texts button{
  display: block;
  margin-top: 20px;
}

.services-container2{
  width: 98%;
  height: 80%;
  margin-top: 40px;
}
.services-cards-container2{
  width: 99%;
  margin-left: 1px;
  display: flex;
}

.service-card3{
  width: 70%;
  height: 380px;
  display: flex;
  /* background: #6c757d; */
  margin-left: 40px;
  margin-top: 40px;
}

.service-card3-container{
  display: flex;
  width: 100%;
  background: #edede9;
  border: 5%;
  border-radius: 4%;
  margin-left: 1px;
}
.brand-promotion-image{
  width: 300px;
  height: 280px;
  margin-top: 53px;
  margin-left: 50px;
  border: 5%;
  border-radius: 4%;
}
.brand-promotion-texts{
  width: 300px;
  height: 250px;
  display: block;
  margin-left: 30px;
  font-size: 18px;
  font-family: 'Titillium Web';
  margin-top: 50px;
}
.brand-promotion-texts button{
  display: block;
  margin-top: 20px;
}

.service-card4{
  width: 95%;
  height: 380px;
  display: flex;
  /* background: #6c757d; */
  margin-left: 40px;
  margin-top: 40px;
}

.service-card4-container{
  display: flex;
  width: 100%;
  background: #edede9;
  border: 5%;
  border-radius: 4%;
}
.wedding-services-image{
  width: 300px;
  height: 280px;
  margin-top: 53px;
  margin-left: 50px;
  border: 5%;
  border-radius: 4%;
}
.wedding-services-texts{
  width: 300px;
  height: 250px;
  display: block;
  margin-left: 30px;
  font-size: 18px;
  font-family: 'Titillium Web';
  margin-top: 50px;
}
.wedding-services-texts button{
  display: block;
  margin-top: 20px;
}
/* SERVICES SECTION STYLES END */

/* OUR FLEET START */
.fleet-header{
  display: flex;
  width: 1800px;
  height: 200px;
}
.fleet-header1{
  width: 500px;
  margin-left: 340px;
  font-size: 96px;
}
.fleet-mini-header{ 
  margin-top: 120px;
  width: 500px;
  font-family: 'Titillium Web';
  font-weight: 600;
  color: #6c757d;
}

/* FLEET CARDS START */
.fleet-cards-container{
  width: 1800px;
  height: 500px;
  gap: 40px;
  display: flex;
  box-sizing: border-box;
  margin-top: 50px;

}
.fleet-cards{
  display: flex;
  gap: 40px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  width: 200%;
  margin: auto;
  /* animation: slide 20s linear infinite; */
  /* margin-right: 1500px; */
  font-family: 'Titillium Web';
  font-weight: 300;
  border: 5%;
  border-radius: 15px;
  /* width: 100%; */
  padding: 50px;
  overflow: scroll;
}
.fleet-cards :hover{
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */

}
.lauren-family{
  width: 250px;
  height: 230px;
  padding: 10px;
  border: 5%;
  border-radius: 15px;
  margin-left: 15px;
}
.pimp-my-ride{
  width: 250px;
  height: 230px;
  padding: 10px;
  border: 5%;
  border-radius: 15px;
  margin-left: 15px;
}
.The-Matrix{
  width: 250px;
  height: 230px;
  padding: 10px;
  border: 5%;
  border-radius: 15px;
  margin-left: 15px;
}
.chryslar-limo{
  width: 250px;
  height: 230px;
  padding: 10px;
  border: 5%;
  border-radius: 15px;
  margin-left: 15px;
}
.dodge{
  width: 250px;
  height: 230px;
  padding: 10px;
  border: 5%;
  border-radius: 15px;
  margin-left: 15px;
}
.red-car{
  width: 250px;
  height: 230px;
  padding: 10px;
  border: 5%;
  border-radius: 15px;
  margin-left: 15px;
}
.volkswagen-van{
  width: 250px;
  height: 230px;
  padding: 10px;
  border: 5%;
  border-radius: 15px;
  margin-left: 15px;
}
.car-container {
  width: 300px;
  flex-shrink: 0; /* Prevent cards from shrinking */
  background-color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2px;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.car-container:hover {
  transform: scale(1.01); /* Slightly enlarge the card on hover */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.car-container button {
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 250px;
  font-size: 18px;
  margin-left: 25px;
  margin-bottom: 10px;
  border: 5%;
  border-radius: 15px;
}
.car-container button:hover {
  opacity: 0.9;
}

.car-container p {
  text-align: center;
  border: 5%;
  border-radius: 15px;
  transform: none;
  transition: none;
}
.car-container h3 {
  text-align: center;
  border: 5%;
  border-radius: 15px;
  transform: none;
  transition: none;
}
@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-calc((300px + 40px) * 7)); /* Adjust for number of cards */
  }
}


/* FLEET CARDS END */

/* OUR FLEET END */

/* FOOTER STYLES START */
.footer-container{
  max-width: 1670px;
  /* background-color: red; */
  margin: auto;
  font-family: 'Titillium Web';
  margin-left: 350px;
  margin-top: 50px;
}
ul{
  list-style: none;
}
.row{
  display: flex;
  flex-wrap: wrap;

}
.footer-column{
  width: 25%;
  padding: 0 15px;
}
.footer-column h4{
  font-size: 22px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-column h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffc300;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-column ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-column ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  color: black;
  display: block;
  transition: all 0.3s ease;
}
.footer-column ul li a:hover{
  color: black;
  padding-left: 8px;
}
.footer-column .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin-right: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
  transition: all 0.3s ease;
}
.footer-column .social-links a:hover{
  color: black;
  background-color: #ffffff;
}
.footer{
  /* background-color: #24262b; */
  padding: 70px 0;
  width: 80%;
}

.click{
background-color: #e89005;
color: red;
border: none;
border-radius: 5px;
box-shadow: 3px 3px gray;
padding: 2px;
height: 8%;
width: 15%;
margin-top: 300px;
min-height: 30px;
min-width: 60px;

}

.click:hover {
 background-color: #ffd60a;
 transition: 0.8s;
}

.click:focus{
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #6c757d;
  transition: 0.8s;
}

.click:active{
  background-color: aquamarine;
  transition: 0.1s;
}
/* FOOTER STYLES END */

